.header {
  background-color: #27262a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 16px 30px;
 

  flex-direction: column;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
  }
  &__logo {
    padding-left: 16px;
  }
  &__logo:hover &__title {
    color: white;
  }
  &__mark {
    display: block;
    width: 43px;
    height: 41px;
    background: no-repeat url(./img/header-logo.svg);
    position: relative;
    z-index: 10;
  }
  &__logo:hover &__mark {
    background: no-repeat url(./img/logo-hover.svg);
  }
  &__title {
    color: #8d81ac;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: none;
    margin-left: 17px;
    font-family: "Lato", "sans-serif";
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__inner-menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 80px;
  }
  &__link-inner:hover {
    color: #ffffff;
  }
  &__item-inner {
    margin-right: 48px;
  }
  &__link-inner {
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    color: #8d81ac;
    text-decoration: none;
  }
  &__mainlink {
    color: #ffffff;
    text-decoration: none;

    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    background-color: #8d81ac;
    border-radius: 40px;
    padding: 10px;
  }

  &__btn-container {
    width: 23px;
    height: 23px;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease 0s;
  }
  &__btn-first-line {
    display: block;
    width: 15px;
    height: 3px;
    background-color: white;
    position: relative;
    right: -11px;
    transition: all 0.3s ease 0s;
  }
  &__btn-second-line {
    width: 26px;
    height: 3px;
    position: relative;
    top: 4px;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  &__btn-third-line {
    width: 26px;
    height: 3px;
    position: relative;
    background-color: white;
    top: 8px;
    transition: all 0.3s ease 0s;
  }
  .rotatedRigth {
    transform: rotate(45deg);
    top: 10px;
  }
  .rotatedLeft {
    transform: rotate(-45deg);
  }
  .deletedLine {
    display: none;
  }
  &__mainlink:hover {
    background-color: #ffffff;
    color: #8d81ac;
    transition: all 0.1s ease 0s;
  }
  &__btn {
    background-color: inherit;
    width: 44px;
    height: 37px;
    border: none;
    position: relative;
    transition: all 0.3s ease 0s;
  }
  &__btn::before {
    content: "";
    width: 26px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    position: absolute;
    top: 19px;
    left: 13px;
    box-shadow: 0 6px 0 0 white;
    }
  &__btn::after {
    content: "";
    width: 15px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    position: absolute;
    top: 13px;
    left: 24px;
  }
  &__list {
    position: absolute;
    top: 103px;
    right: 15px;
    margin-left: -150px;
    display: none;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }
  &__item {
    background-color: #333333;
    padding: 29px 50px 21px 38px;
  }
  &__item-first::after {
    content: "";
    width: 8px;
    height: 53px;
    left: 3px;
    top: 19px;
    background-color: $purple-color;
    position: absolute;
    top: 13px;
    left: 0;
    z-index: 3;
    display: none;
  }
  &__item-second::after {
    content: "";
    width: 8px;
    height: 53px;

    top: 92px;
    background-color: $purple-color;
    position: absolute;

    left: 0;
    z-index: 3;
    display: none;
  }
  &__item-third::after {
    content: "";
    width: 8px;
    height: 53px;
    top: 170px;
    background-color: $purple-color;
    position: absolute;
    left: 0;
    z-index: 3;
    display: none;
  }
  &__item-fourth::after {
    content: "";
    width: 8px;
    height: 53px;
    top: 242px;
    background-color: $purple-color;
    position: absolute;
    left: 0;
    z-index: 3;
    display: none;
  }
  &__item:hover &__link {
    color: $purple-color;
  }
  &__item-first:hover:after {
    display: block;
  }
  &__item-second:hover:after {
    display: block;
  }
  &__item-third:hover:after {
    display: block;
  }
  &__item-fourth:hover:after {
    display: block;
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    line-height: 26px;
    font-family: Montserrat;

    font-style: normal;
    font-weight: normal;
  }
  &__menu-outer {
    margin-top: 30px;
    display: none;
  }
  &__list-outer {
    display: flex;
    justify-content: space-between;
  }
  &__link-outer {
    color: $purple-color;
    text-decoration: none;
    font-weight: bold;
  }
}
.header__menu .outer {
  display: none;
}
.active {
  display: block;
}

@media (min-width: 993px) {
.header__menu-outer {
  margin-top: 0;
}
.header__list-outer {
  display: none;
}
.header {
  background-color: black;
}
}

@media (min-width: 481px) {
  .header__btn-container {
    display: none;
  }
  .header__list {
    display: none;
  }
  .header__inner {
    min-width: 481px;
  }
  .header__title {
    display: block;
  }
  .header__menu-outer {
    display: block;
  }

  .header__btn {
    display: none;
  }
  .header__mainlink {
    padding: 10px 20px;
  }
}

@media (min-width: 993px) {
  .header__inner {
    min-width: 993px;
  }
  .header__inner-menu {
    display: flex;
  }
}
